
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      padding: 0;
    }

    h1 {
      text-align: center;
    }

    h2 {
      margin-top: 20px;
    }

    .user-data {
      background-color: #ececec;
      border: 1px solid #ddd;
      color: rgb(0, 0, 0);
      padding: 10px;
      margin-top: 10px;
      overflow: hidden;
      font-size: 15px;
    }

    .user-data-field {
      margin: 5px 0;
    }

    .user-data-field a {
      text-decoration: none;
      color: #007bff;
    }

    h3 {
      margin-top: 20px;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin: 5px 0;
    }

   
